body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 10px;
  padding: 20px;
}

h1 {
  color: #333;
}

#countries-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pais {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding: 10px 20px;
  width: 240px;
}

img {
  height: 100px;
}

.ventana-flotante {
  position: fixed; /* flotante */
  top: 30%;
  left: 50%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 999; /* posición por encima de resto de elementos */
}